#title {
    color: var(--gray-header, #ADABBB);
    text-align: right;
    font-size: 15px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.44px;
    display: flex;
    width: 312px;
    height: 30px;
    flex-direction: column;
    flex-shrink: 0;
}

#iconClose {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

#day,
#endTime,
#beginningTime,
#targetAudience {
    border-radius: 6px;
    border: 0.7px solid var(--light-purple, #B5A8D1);
    background: #FFF;
    display: flex;
    width: 193px;
    height: 40px;
    align-items: center;
    flex-shrink: 0;
    text-align: right;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.264px;
}

#label {
    color: var(--gray-text, #666476);
    text-align: right;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.264px;
}

#body {
    background: #F5F9FF;
}

#form {
    display: inline-flex;
    padding: 0px 5px 6.144px 4px;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 30%;
}

#saveButton {
    border-radius: 6px;
    border: 1px solid var(--purple, #6450C8);
    background: var(--purple, #6450C8);
    display: flex;
    width: 118px;
    height: 36px;
    padding: 9px 20px 13px 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 20%;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.264px;
}

#success {
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    color: var(--gray-text, #666476);
}