#body {
    background: var(--gray, #F5F9FF);
    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.14);
}

#title {
    color: var(--gray-header, #ADABBB);
    text-align: right;
    font-size: 15px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.44px;
    display: flex;
    width: 312px;
    height: 30px;
    flex-direction: column;
    flex-shrink: 0;
    top: 45px;
}

#label {
    color: var(--gray-text, #666476);
    text-align: right;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.264px;
}

.formAddCourse {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    left: 60%;
    top: 15%;
}

.saveNewCourseBtn {
    border-radius: 6px;
    border: 1px solid var(--purple, #6450C8);
    background: var(--purple, #6450C8);
    display: flex;
    width: 118px;
    height: 36px;
    padding: 9px 20px 13px 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 500px;
    right: 20%;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.264px;
}

#costForLesson,
#courseName,
#color,
#logo,
#endTimeOfRegister,
#endTimeOfPreview,
#beginngTime,
#remarks,
#maxParticipants,
#operatorName {
    border-radius: 6px;
    border: 0.7px solid var(--light-purple, #B5A8D1);
    background: #FFF;
    display: flex;
    width: 193px;
    height: 40px;
    align-items: center;
    flex-shrink: 0;
    text-align: right;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.264px;
}

.leftPane {
    right: 70px;
    position: absolute;
    margin-top: 35px;
}

.rightPane {
    left: 60%;
    position: absolute;
    margin-top: 35px;
}

.bodyAddingCourse {
    right: 30%;
}

.addingSuccess {
    color: var(--gray-text, #666476);
    text-align: right;
    font-size: 15px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 127.5%;
    letter-spacing: 0.3px;
    position: absolute;
    right: 30%;
    margin-top: 550px;
    width: 300px;
}