#addCourse {
    box-sizing: border-box;
    width: 118px;
    height: 36px;
    position: absolute;
    background: #6450C8;
    border: 1px solid #6450C8;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
    left: 9.3%;
    top: 18%;
    border-radius: 6px;
    display: flex;
    padding: 9px 28px 13px 28px;
    justify-content: center;
    align-items: center;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.264px;
    cursor: pointer;
}

#iconCourse {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15%;
    top: 8%;
    bottom: 0%;
}

.courseTitle {
    right: 14.8%;
    top: 10%;
    height: 27px;
    bottom: 0%;
    position: absolute;
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #666476;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.courseSubTitle {
    right: 14.8%;
    top: 14%;
    height: 14px;
    position: absolute;
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;
    color: #ADABBB;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#courseBody {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #F5F9FF;
}

#search {
    box-sizing: border-box;
    position: absolute;
    width: 275px;
    height: 36px;
    left: 16.5%;
    top: 18%;
    background: #FFFFFF;
    border: 1px solid #DEDAF3;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 25px;
    background: url("../../images/search.png") no-repeat left;
    background-position-x: 10px;
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #C3C1CF;
    display: flex;
    padding: 10px 16.941px 10px 9px;
    align-items: center;
    gap: 173.059px;
}

#table {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    padding: 0px !important;
    isolation: isolate !important;
    width: 1600px !important;
    top: 25% !important;
    right: 14.7% !important;
    flex: none !important;
    order: 1 !important;
    flex-grow: 0 !important;
    position: absolute !important;
}

.css-1ygcj2i-MuiTableCell-root {
    font-family: 'Noto Sans Hebrew' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 120% !important;
    text-align: right !important;
    color: #B5A8D1 !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 130px;
    margin-right: 30%;
    width: 1300px;
    height: 45px;
    background: #FFFFFF;
    border-bottom: 1px solid #E1DFEA;
    border-radius: 8px 8px 0px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.css-1ex1afd-MuiTableCell-root {
    font-family: 'Noto Sans Hebrew' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 120% !important;
    text-align: right !important;
    letter-spacing: -0.022em !important;
    color: #262041 !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 130px;
    position: relative;
    margin-right: 30%;
    width: 1300px;
    height: 45px;
    background: #FFFFFF;
    border-bottom: 1px solid #E1DFEA;
    border-radius: 8px 8px 0px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#imgCourse {
    width: 40px;
    height: 40px;
}

.editCourseLink,
.displayCourseLink {
    text-decoration: underline;
    cursor: pointer;
}

.messageClick,
.deleteClick {
    cursor: pointer;
    width: 13px;
    height: 13px;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    font-family: 'Noto Sans Hebrew' !important;
    color: #6450C8 !important;
    font-weight: 900 !important;
}

.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
    font-family: 'Noto Sans Hebrew' !important;
    color: var(--gray-text, #666476) !important;
    margin-top: 2% !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: var(--gray-text, #666476) !important;
    font-family: 'Noto Sans Hebrew' !important;
}
