.personalAreaIcon {
    width: 43px;
    height: 43px;
    position: absolute;
    right: 15%;
    top: 8%;
    bottom: 0%;
}

.titlePersonalArea {
    color: var(--gray-text, #666476);
    text-align: right;
    font-size: 20px;
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    width: 176px;
    height: 27px;
    flex-direction: column;
    position: absolute;
    right: 15%;
    top: 12%;
}

.subTitlePersonalArea {
    color: var(--gray-header, #ADABBB);
    text-align: right;
    font-size: 18px;
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    width: 292px;
    height: 14px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 15%;
    top: 15.5%;
}

.label {
    color: var(--gray-text, #666476);
    text-align: right;
    font-size: 15px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 127.5%;
    letter-spacing: 0.3px;
    position: absolute;
}

.formUpdateUser {
    margin-top: 12%;
    margin-right: 15%;
}

.firstName,
.lastName,
.email,
.phone {
    border-radius: 6px;
    border: 0.7px solid var(--light-purple, #B5A8D1);
    background: #FFF;
    display: flex;
    width: 193px;
    height: 40px;
    align-items: center;
    flex-shrink: 0;
    text-align: right;
    font-size: 12px;
    font-family: 'Noto Sans Hebrew';
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.264px;
    position: absolute;
}

.successEditPersonalDetails {
    color: var(--gray-text, #666476);
    text-align: right;
    font-family: 'Noto Sans Hebrew';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* position: absolute; */
    margin-top: 20%;
    margin-right: 20%;
}