#iconActivity {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15%;
    top: 8%;
    bottom: 0%;
}

.activityTitle {
    right: 15%;
    top: 10%;
    height: 27px;
    bottom: 0%;
    position: absolute;
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #666476;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.activitySubTitle {
    right: 15%;
    top: 14%;
    height: 14px;
    position: absolute;
    font-family: 'Noto Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.022em;
    color: #ADABBB;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#activityBody {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #F5F9FF;
}

#addActivity {
    box-sizing: border-box;
    width: 118px;
    height: 36px;
    position: absolute;
    background: #6450C8;
    border: 1px solid #6450C8;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
    left: 9.8%;
    top: 20%;
    display: flex;
    padding: 9px 19px 13px 20px;
    justify-content: center;
    align-items: center;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 12px;
    font-family: Noto Sans Hebrew;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.264px;
}

#table {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    padding: 0px !important;
    isolation: isolate !important;
    width: 1600px !important;
    top: 25% !important;
    right: 14.7% !important;
    flex: none !important;
    order: 1 !important;
    flex-grow: 0 !important;
    position: absolute !important;
}

.closeAddingIcon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2%;
    position: absolute;
}

.editLink,
.fullViewLink {
    text-decoration: underline;
    cursor: pointer;
}

.sendMessageLink,
.deleteLink {
    cursor: pointer;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    height: 100% !important;
}
.closePageIcon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2%;
}